.white__key--selected {
    /* box-shadow: 0 0 8px #4dabf7; */
    box-shadow: 0 0 8px #c49c48;
    border: 2px solid #c49c48;
    /* border: 2px solid #4dabf7; */
    z-index: 3; 
}

.white__key-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.white__key-label {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #222;
    user-select: none;
    pointer-events: none;
    border: 1px solid #aaa;
    color: #aaa;
    padding: 0 5px;
    border-radius: 10px;
    margin-bottom: 8px;
}