.login-form {
    position: relative;
    background-color: antiquewhite;
    border-radius: 20px;
    max-width: 496px;
    width: 100%;
    padding: 32px 28px 36px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.login-form__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

login-form__logo {
    color: black;
    padding: 0;
    margin: 0;
}

.login-form__title {
    margin: 0;
    color: black;
    padding-bottom: 10px;
}

.login-form__title-span {
    color: #EDCD96;
}

.login-form__label {
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 4px;
}

.login-form__input {
    background: transparent;
    border: 1px solid black;
    height: 33px;
    width: 100%;

}

.login-form__button-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;
}

.login-form__link {
    background: transparent;
    color: black;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.login-form__link_disabled {
    color: grey;
}

.login-form__register-link {
    color: black;
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}
